.o2-section {
  width: 100%;
  margin-top: -5600px;
  text-align: center;
  position: relative;
}


.o2-title {
  width: 250px;
  margin-bottom: 40px;
}


.o2-card {
  width: 85%;
  max-width: 1100px;
  margin: auto;
  position: relative;
}

.o2-bg {
  width: 100%;
  border-radius: 40px;
}

.o2-plant {
  width: 350px;
  position: absolute;
  left: 40px;
  top: -40px;
  z-index: 5;
}


.o2-content {
  width: 50%;
  position: absolute;
  right: 50px;
  top: 40px;
  text-align: left;
  color: white;
  font-family: Inter, sans-serif;
}

.o2-heading {
  font-size: 26px;
  font-weight: 600;
  line-height: 2.0;
  margin-bottom: 12px;
}

.o2-desc {
  width: 90%;
  line-height: 1.5;
  font-size: 15px;
  opacity: 85%;
  margin-bottom: 20px;
}

.o2-explore {
  width: 120px;
  height: 42px;
  border-radius: 10px;
  border: 2px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
  font-size: 15px;
  margin-top: 20px;
}

.o2-explore:hover {
  background: white;
  color: black;
}


.o2-pagination {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-top: 18px;
}

.o2-arrow {
  width: 12px;
  cursor: pointer;
  opacity: 85%;
  margin-left: 220px;
}

.o2-page {
  font-size: 14px;
  opacity: 85%;
}


.o2-dots {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.dot {
  width: 8px;
  height: 8px;
  background: white;
  opacity: 40%;
  border-radius: 50%;
}

.dot.active {
  width: 20px;
  height: 6px;
  border-radius: 4px;
  opacity: 90%;
}
