.cr-section {
  width: 100%;
  margin-top: 120px;
  text-align: center;
  position: relative;
  bottom: 5780px;
}

.cr-title {
  width: 420px;
  display: block;
  margin: auto;
  margin-bottom: 60px;
}


.cr-grid {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}


.cr-card {
  width: 330px;
  height: 300px;
  position: relative;
  display: flex;
}

.cr-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.cr-user {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 75px;
  transform: translateX(-50%);
  border: 1px solid #233021;
}


.cr-content {
  position: absolute;
  top: 55px;
  left: 135px;
  width: 85%;
  text-align: left;
}

.cr-name {
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-bottom: 2px;
}

.cr-stars {
  width: 85px;
  margin: 5px 0 10px 0;
}

.cr-desc-wrapper {
  width: 95%;
  margin-top: 10px; 
  margin-left: -100px;
  margin-top: 30px;
}

.cr-desc {
  font-size: 15px;
  opacity: 0.85;
  line-height: 1.45;
  color: white;
  align-items: flex-start;
  
}
