.hero {
  width: 100%;
  height: 320vh; 
  position: relative;
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
 

}


.bg-plant {
  position: absolute;        
  left: 0;
  width: 100%;
  height: auto;
  min-height: 200px;       
  object-fit: cover;
  z-index: -1;
 
}


.hero-content {
  position: absolute;
  top: 205px;            
  left: 75px;
  width: 800px;
}


.hero-title {
  font-family: "Inter", sans-serif;
  font-size: 98px;      
  font-weight: 600;
  color: white;
  line-height: 100%;
  opacity: 70%;
}

.hero-subtext {
  margin-top: 10px;
  width: 600px;
  color: #e0e0e0;   
  font-size: 19px;
  font-family: "Inter", sans-serif;
  opacity: 85%;
}


.hero-buttons {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 40px;
}


.buy-button {
  width: 160px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  background: transparent;       
  color: white;            
  border: 2px solid white;       
  border-radius: 12px;
  opacity: 75%;
  cursor: pointer;
}


.circle-button {
  width: 70px;
  height: 70px;
  border: 2px solid white;
  border-radius: 50%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playicon {
  width: 28px;     
  height: 28px;
  opacity: 0.85;
}



.live-text {
  font-family: "Indie Flower", cursive;
  font-size: 25px;
  color: white;
  opacity: 75%;
}
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
