* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}


.navbar {
  width: 100%;
  height: 82px;
   display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}


.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 48px;
  height: 48px;
}

.brand-name {
  color: white;
  font-size: 22px;
  font-weight: 600;
  margin-left: 14px;
  opacity: 75%;
}


.navbar-center {
  display: flex;
  list-style: none;
  gap: 35px;
}

.nav-item {
  font-family: 'Indie Flower', cursive;
  font-size: 22px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  opacity: 75%;
}

.nav-item:hover {
  color: rgb(255, 255, 255);
}


.dropdown-item {
  position: relative;
  padding-right: 20px;
}

.dropdown-item::after {
  content: "";
  position: absolute;
  top: 12px;
  right: -5px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid white;
}


.navbar-right {
  display: flex;
  align-items: center;
  gap: 50px;   
}

.navbar-icon {
  width: 26px;
  height: 26px;
  opacity: 0.75;
  cursor: pointer;
  transition: 0.2s;
}

.navbar-icon:hover {
  opacity: 1;
}


.menu-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  cursor: pointer;
}


.line1 {
    width: 31px;
    border-top: 2px solid white;
    opacity: 0.9;
}


.line2 {
  width: 23px;
  border-top: 2px solid white;
  opacity: 0.9;
  align-self: flex-end;
}


@media (max-width: 768px) {
  .navbar-center {
    display: none;
  }
}
