.review-wrapper {
  position: absolute;
  left: 80px;
  bottom: 0px;    
  z-index: 10;
  top: 665px;
}


.review-card {
  width: 320px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 08px 10px;
  border-radius: q0px;
  color: white;
  font-family: Inter, sans-serif;

  display: flex;
  flex-direction: column;
}

.review-user-img {
  width: 200px;        
  height: 108px;
  object-fit: cover;

}

.review-text {
  bottom: 40px;
  font-size: 14px;
  line-height: 1.45;
  opacity: 85%;
  width: 95%;
}
