
.ts-section {
  width: 100%;
  min-height: 1000vh;
  background: #214123;       
  padding-top: 0;
  margin-top: 0;
  position: relative;
  color: white;
  font-family: Inter, sans-serif;
  overflow: hidden;
  bottom: 1080px;
}


.ts-title {
  display: block;
  width: 420px;
  margin: 20px auto 40px;
}

.ts-grid {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}

.ts-card {
  width: 100%;
  position: relative;
  transition: 0.3s ease;
  opacity: 75%;
}

.ts-card:hover {
  transform: translateY(-8px);
}

.ts-bg {
  width: 100%;
  display: block;
  border-radius: 28px;
  opacity: 85%;
}

.ts-plant {
  width: 400px;
  position: absolute;
  top: -105px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  transition: 0.3s ease;
}

.ts-card:hover .ts-plant {
  transform: translateX(-50%) translateY(-10px) scale(1.03);
  filter: drop-shadow(0 12px 20px rgba(0, 0, 0, 0.45));
}

.ts-content {
  position: absolute;
  top: 260px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.ts-name {
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  opacity: 85%;
}

.ts-desc {
  margin: 10px 0 16px 0;
  opacity: 0.85;
  font-size: 15px;
  line-height: 1.4;
}

.ts-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ts-price {
  font-size: 20px;
  font-weight: 800;
}


.ts-cart {
  width: 44px;
  height: 44px;
  position: relative;
  cursor: pointer;
}

.ts-cart-bg {
  width: 100%;
  height: 100%;
}

.ts-cart-bag {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

