.plant2-section {
  width: 100%;
  position: relative;
  margin-top: 200px;
  top: -1130px;
  right: 11px;
}

.plant2-bg {
  width: 1300px;
  height: 330px;
  margin: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 80px;

}

.plant2-title {
  width: 380px;
  position: absolute;
  top: -180px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.plant2-img {
  width: 450px;
  position: absolute;
  top: -80px;
  left: 880px;
  z-index: 10;
}

.plant2-content {
  position: absolute;
  top: 60px;
  left: 15%;
  width: 300px;
  color: white;
  font-family: Inter, sans-serif;
  z-index: 05;
}

.plant2-heading {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.45;
  margin-bottom: 10px;
  white-space: nowrap;
}

.plant2-desc {
  width: 480px;        
  line-height: 150%;  
  word-break: normal;
  white-space: normal;

}

.plant2-bottom {
  display: flex;
  align-items: center;
  gap: 10px;
}

.plant2-price {
  font-size: 20px;
  font-weight: 600;
  line-height: 3;
}
.plant2-actions 
{
  display: flex;
  align-items: flex-end;
  gap: 40px;  
            
}

.plant2-explore {
  width: 140px;
  height: 48px;
  border: 2px solid white;
  background: transparent;
  border-radius: 12px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  
}

.plant2-cart {
  width: 36px;
  height: 36px;
  bottom: 100px;
  cursor: pointer;
}


.plant2-img:hover {
  transform: translateY(-12px);
  transition: 0.35s ease;
}


.plant2-explore:hover {
  background: white;
  color: black;  
  transition: 0.3s ease;
}
.cart-box:hover {
  transform: translateY(-4px);
  transition: 0.25s ease;
  filter: drop-shadow(0px 6px 12px rgba(255, 255, 255, 0.25));
}


.cart-box:hover .cart-rect {
  filter: brightness(1.2);
  transition: 0.25s ease;
}


.cart-box:hover .cart-bag {
  transform: translate(-50%, -50%) scale(1.1);
  filter: brightness(1.4);
  transition: 0.25s ease;
}

.trending2-section {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}